In [1]:
# coding: utf-8

import os
import sys
import pickle
import time
import datetime
from joblib import Parallel, delayed
import multiprocessing
import pandas as pd

# Local Imports
path = str(os.path.expanduser('~')) + '/git/predictEPL/config'
sys.path.append(path)
import paths

sys.path.append(paths.UTILS)
import useful_methods


# *******************************************************
# *******************************************************

# Limitations
TIME_LIMIT = 108
RETWEET_STATUS = True
FILTER_STATUS = True
START_TIME = 1
END_TIME = 108


# *******************************************************
# *******************************************************

# Game Infos
os.chdir(paths.READ_PATH_GAME_INFO)
dfGameInfos = useful_methods.csv_dic_df('game_infos.csv')
dfGameInfos = useful_methods.DropNanGames(dfGameInfos)

# Convert number strings to integers
dfGameInfos['GW'] = [int(GW) for GW in dfGameInfos['GW']]
dfGameInfos['score_ht_home'] = [int(number) for number in dfGameInfos['score_ht_home']]
dfGameInfos['score_ht_away'] = [int(number) for number in dfGameInfos['score_ht_away']]
dfGameInfos['score_ft_home'] = [int(number) for number in dfGameInfos['score_ft_home']]
dfGameInfos['score_ft_away'] = [int(number) for number in dfGameInfos['score_ft_away']]

In [2]:
all_tweet = []
all_home = []
all_away = []
filter_home = []
filter_away = []
non_rt_home = []
non_rt_away = []

for ith_row in range(len(dfGameInfos)):
    team_home = dfGameInfos.iloc[ith_row]['home_team']
    team_away = dfGameInfos.iloc[ith_row]['away_team']
    week = dfGameInfos.iloc[ith_row]['GW']
    
    # read df
    df = useful_methods.SingleGameDf(week, team_home, team_away, filtering=False, retweet=True)
    df.ith_minute = [int(item) for item in df.ith_minute]
    df = df[(df.ith_minute >= START_TIME) & (df.ith_minute <= END_TIME)].copy().reset_index(drop=True)

    # append tweet nums
    all_tweet.append(len(df))

    all_home.append(len(df[df.side == 'home']))
    all_away.append(len(df[df.side == 'away']))
    
    filter_home.append(len(df[
                (df.side == 'home') &
                (df.user_status == 'normal') &
                (df.text_status == 'normal')]))
    filter_away.append(len(df[
                (df.side == 'away') &
                (df.user_status == 'normal') &
                (df.text_status == 'normal')]))
    
    non_rt_home.append(len(df[
                (df.side == 'home') &
                (df.user_status == 'normal') &
                (df.text_status == 'normal') &
                (df.status != 'retweet')
            ]))
    
    non_rt_away.append(len(df[
                (df.side == 'away') &
                (df.user_status == 'normal') &
                (df.text_status == 'normal') &
                (df.status != 'retweet')
            ]))
    
    print(week, team_home, team_away)

5 Everton Chelsea
5 Norwich Bournemouth
5 Watford Swansea
5 WestBromwich Southampton
5 Arsenal Stoke
5 Crystal City
5 United Liverpool
5 Sunderland Tottenham
5 Leicester Villa
5 WestHam Newcastle
6 Chelsea Arsenal
6 Swansea Everton
6 Bournemouth Sunderland
6 Villa WestBromwich
6 Newcastle Watford
6 Stoke Leicester
6 City WestHam
6 Tottenham Crystal
6 Southampton United
6 Liverpool Norwich
7 Tottenham City
7 Leicester Arsenal
7 Stoke Bournemouth
7 WestHam Norwich
7 Southampton Swansea
7 United Sunderland
7 Liverpool Villa
7 Newcastle Chelsea
7 WestBromwich Everton
8 Crystal WestBromwich
8 Norwich Leicester
8 Sunderland WestHam
8 City Newcastle
8 Villa Stoke
8 Bournemouth Watford
8 Chelsea Southampton
8 Everton Liverpool
8 Swansea Tottenham
8 Arsenal United
9 Tottenham Liverpool
9 Southampton Leicester
9 WestBromwich Sunderland
9 Chelsea Villa
9 Crystal WestHam
9 Everton United
9 City Bournemouth
9 Watford Arsenal
9 Newcastle Norwich
9 Swansea Stoke
10 Norwich WestBromwich
10 Leicester Crystal
10 Villa Swansea
10 WestHam Chelsea
10 Stoke Watford
10 Arsenal Everton
10 Sunderland Newcastle
10 United City
10 Bournemouth Tottenham
10 Liverpool Southampton
11 Chelsea Liverpool
11 Swansea Arsenal
11 WestBromwich Leicester
11 Watford WestHam
11 Newcastle Stoke
11 City Norwich
11 Crystal United
11 Everton Sunderland
11 Southampton Bournemouth
11 Tottenham Villa
13 Swansea Bournemouth
13 Chelsea Norwich
13 Everton Villa
13 WestBromwich Arsenal
13 Newcastle Leicester
13 Southampton Stoke
13 City Liverpool
13 Tottenham WestHam
13 Crystal Sunderland
14 Sunderland Stoke
14 Bournemouth Everton
14 Villa Watford
14 Crystal Newcastle
14 City Southampton
14 Leicester United
14 Tottenham Chelsea
14 WestHam WestBromwich
14 Liverpool Swansea
14 Norwich Arsenal
15 Stoke City
15 Arsenal Sunderland
15 WestBromwich Tottenham
15 Watford Norwich
15 United WestHam
15 Swansea Leicester
15 Southampton Villa
15 Chelsea Bournemouth
15 Newcastle Liverpool
15 Everton Crystal
16 Norwich Everton
16 WestHam Stoke
16 Sunderland Watford
16 City Swansea
16 Crystal Southampton
16 Bournemouth United
16 Villa Arsenal
16 Liverpool WestBromwich
16 Tottenham Newcastle
17 Stoke Crystal
17 WestBromwich Bournemouth
17 Chelsea Sunderland
17 Everton Leicester
17 United Norwich
17 Southampton Tottenham
17 Newcastle Villa
17 Watford Liverpool
17 Swansea WestHam
17 Arsenal City
18 Stoke United
18 Tottenham Norwich
18 Swansea WestBromwich
18 City Sunderland
18 Liverpool Leicester
18 Chelsea Watford
18 Villa WestHam
18 Bournemouth Crystal
18 Newcastle Everton
18 Southampton Arsenal
19 Crystal Swansea
19 Everton Stoke
19 Norwich Villa
19 Watford Tottenham
19 WestBromwich Newcastle
19 WestHam Southampton
19 Arsenal Bournemouth
19 United Chelsea
19 Leicester City
19 Sunderland Liverpool
20 WestHam Liverpool
20 WestBromwich Stoke
20 Sunderland Villa
20 Norwich Southampton
20 United Swansea
20 Leicester Bournemouth
20 Arsenal Newcastle
20 Watford City
20 Crystal Chelsea
20 Everton Tottenham
21 Villa Crystal
21 Newcastle United
21 Bournemouth WestHam
21 Stoke Norwich
21 Southampton Watford
21 City Everton
21 Chelsea WestBromwich
21 Swansea Sunderland
21 Tottenham Leicester
21 Liverpool Arsenal
22 Tottenham Sunderland
22 Newcastle WestHam
22 Bournemouth Norwich
22 Chelsea Everton
22 Southampton WestBromwich
22 City Crystal
22 Villa Leicester
22 Liverpool United
22 Stoke Arsenal
22 Swansea Watford
23 Norwich Liverpool
23 WestBromwich Villa
23 Sunderland Bournemouth
23 United Southampton
23 Leicester Stoke
23 Crystal Tottenham
23 Watford Newcastle
23 WestHam City
23 Everton Swansea
23 Arsenal Chelsea

In [7]:
# add counted nums
dfGameInfos['all_tweet'] = all_tweet
dfGameInfos['all_home'] = all_home
dfGameInfos['all_away'] = all_away
dfGameInfos['filter_home'] = filter_home
dfGameInfos['filter_away'] = filter_away
dfGameInfos['non_rt_home'] = non_rt_home
dfGameInfos['non_rt_away'] = non_rt_away

# Drop columns
dfTweetNum = dfGameInfos[['GW', 'home_team', 'away_team'] + list(dfGameInfos.columns[-7:])].copy()
dfTweetNum

,GW,home_team,away_team,all_tweet,all_home,all_away,filter_home,filter_away,non_rt_home,non_rt_away
0,5,Everton,Chelsea,23899,3029,11802,2985,11784,2149,7276
1,5,Norwich,Bournemouth,1158,523,212,522,212,334,149
2,5,Watford,Swansea,856,231,207,227,204,145,101
3,5,WestBromwich,Southampton,1091,489,309,313,305,182,184
4,5,Arsenal,Stoke,9077,6636,358,5826,355,3691,233
5,5,Crystal,City,5745,536,3089,534,3058,399,1185
6,5,United,Liverpool,47218,25902,10848,25734,10700,10640,6526
7,5,Sunderland,Tottenham,4299,1047,2814,1039,2785,657,1595
8,5,Leicester,Villa,7053,526,2682,520,2669,399,1840
9,5,WestHam,Newcastle,6819,1781,3420,1458,3383,820,2350
10,6,Chelsea,Arsenal,19573,7124,5426,6781,5167,3945,3188
11,6,Swansea,Everton,1137,146,595,142,556,100,482
12,6,Bournemouth,Sunderland,3202,1066,1272,1066,1265,430,925
13,6,Villa,WestBromwich,2321,766,460,762,459,612,329
14,6,Newcastle,Watford,5660,3968,1184,3803,1182,2709,406
15,6,Stoke,Leicester,2410,511,638,504,628,349,464
16,6,City,WestHam,12818,6583,4156,6438,4098,2136,1441
17,6,Tottenham,Crystal,2990,2325,42,2323,42,1457,37
18,6,Southampton,United,43521,1020,38663,1018,38338,601,12586
19,6,Liverpool,Norwich,10398,7876,430,7855,426,3313,315
20,7,Tottenham,City,13236,4463,7714,4440,6582,2219,2058
21,7,Leicester,Arsenal,7072,590,4762,586,4591,435,2631
22,7,Stoke,Bournemouth,1259,155,420,155,420,117,270
23,7,WestHam,Norwich,1773,709,503,693,503,250,394
24,7,Southampton,Swansea,1000,514,138,504,135,228,96
25,7,United,Sunderland,29253,27197,452,26678,449,7532,279
26,7,Liverpool,Villa,11661,8474,1282,8238,1010,2970,747
27,7,Newcastle,Chelsea,10909,4154,4919,4150,4753,2262,2869
28,7,WestBromwich,Everton,2445,643,1033,585,955,445,666
29,8,Crystal,WestBromwich,4483,1476,2058,1467,1923,967,1292
...,...,...,...,...,...,...,...,...,...,...
147,21,Villa,Crystal,5792,2771,1144,2754,1139,1639,880
148,21,Newcastle,United,77084,9476,58630,9420,58325,5266,23045
149,21,Bournemouth,WestHam,6247,1026,4106,1007,4024,504,1288
150,21,Stoke,Norwich,3844,478,2263,475,2260,353,1485
151,21,Southampton,Watford,3249,1434,977,1402,969,795,626
152,21,City,Everton,4699,2669,869,2494,825,1103,622
153,21,Chelsea,WestBromwich,8442,5554,1164,5459,1156,3517,792
154,21,Swansea,Sunderland,5425,1136,3382,1118,3366,461,1737
155,21,Tottenham,Leicester,5362,3380,1581,3302,1550,1952,836
156,21,Liverpool,Arsenal,50125,30767,13614,29654,13532,13716,8084
157,22,Tottenham,Sunderland,13022,8071,3146,7672,3124,3869,1873
158,22,Newcastle,WestHam,13413,9144,1496,9087,1430,3732,717
159,22,Bournemouth,Norwich,3671,1005,1742,977,1740,539,1442
160,22,Chelsea,Everton,17886,11082,1955,10881,1949,7318,1395
161,22,Southampton,WestBromwich,4280,2588,663,2569,650,1114,550
162,22,City,Crystal,12561,9161,1371,8643,1360,1980,1078
163,22,Villa,Leicester,7719,3164,2423,3160,2409,2432,1266
164,22,Liverpool,United,82018,16859,56793,16837,56339,8859,19131
165,22,Stoke,Arsenal,15692,1354,9990,1337,9912,848,4837
166,22,Swansea,Watford,3725,1020,1734,992,1725,445,1048
167,23,Norwich,Liverpool,46191,2689,37428,2666,36968,1840,17211
168,23,WestBromwich,Villa,2772,469,1265,460,1261,315,951
169,23,Sunderland,Bournemouth,2544,1388,572,1379,562,786,381
170,23,United,Southampton,35638,31671,993,30158,978,11258,588
171,23,Leicester,Stoke,3811,2005,505,1998,405,671,277
172,23,Crystal,Tottenham,11313,1362,9245,1299,8676,818,4429
173,23,Watford,Newcastle,6031,734,4307,733,4282,383,2581
174,23,WestHam,City,11233,3100,5842,3060,5729,1338,2350
175,23,Everton,Swansea,6070,2573,1023,2513,998,1934,495
176,23,Arsenal,Chelsea,38907,16050,11444,16035,11418,7591,5923

In [8]:
# Save as CSV
useful_methods.DFtoCSV(dfTweetNum, paths.DATA_HOME + "EPL/", 'tweet_numbers', index=False)
print("[Saved in]: %s" % (paths.DATA_HOME + "EPL/" + 'tweet_numbers.csv'))

[Saved in]: /Users/Bya/Dropbox/Research/datas/EPL/tweet_numbers.csv

In [16]:
dic_tw_nums = {}

teams = list(set(dfGameInfos.home_team))
teams.sort()


for team in teams:
    df = dfGameInfos[(dfGameInfos.home_team == team) | (dfGameInfos.away_team == team)].copy().reset_index(drop=True)

    dic_tw_nums[team] = []

    for ith_row in range(len(df)):
        team_home = df.iloc[ith_row]['home_team']
        team_away = df.iloc[ith_row]['away_team']

        if team == team_home:
            dic_tw_nums[team].append(df.iloc[ith_row]['non_rt_home'])
        else:
            dic_tw_nums[team].append(df.iloc[ith_row]['non_rt_away'])

In [26]:

for key in list(dic_tw_nums.keys()).sort():
    print(key, np.array(dic_tw_nums[key]).mean())

TypeError: 'NoneType' object is not iterable