In [45]:
import sys
import os
import time
import codecs
import pandas as pd
import random
import numpy as np


sys.path.append("/Users/Bya/git/predictEPL/utils/")
sys.path.append("/Users/Bya/git/predictEPL/config/")

import paths
import tokenizer
import useful_methods

### SemEval 2015: B Train Cleansed

In [2]:
os.chdir("/Users/Bya/Dropbox/Research/datas/TweetsPN/")

with open("B_cleansed.tsv") as tweet:
    tweets = tweet.readlines()

tweets[0].split('\t')

['264183816548130816',
 '15140428',
 'positive',
 "Gas by my house hit $3.39!!!! I'm going to Chapel Hill on Sat. :)\n"]

In [3]:
# Extract Tweet & Labels
labels = []
texts = []

for tweet in tweets:
    label = tweet.split('\t')[2]
    text = tweet.split('\t')[3]
    
    if text != 'Not Available\n' and text not in texts:
        labels.append(label)
        texts.append(text)

# Create Dataframe
dfTwitterPn = pd.DataFrame(columns=['tweet', 'sentiment'])
dfTwitterPn['tweet'] = texts
dfTwitterPn['sentiment'] = labels

print("positive: ", len(dfTwitterPn[dfTwitterPn.sentiment == 'positive']))
print("negative: ", len(dfTwitterPn[dfTwitterPn.sentiment == 'negative']))
print("neutral: ", len(dfTwitterPn[dfTwitterPn.sentiment == 'neutral']))

dfTwitterPn.describe()

positive:  2844
negative:  1073
neutral:  3709

                                                    tweet sentiment
count                                                7626      7626
unique                                               7626         3
top     Thanks everybody for the bday wishes!! Gonna h...   neutral
freq                                                    1      3709

In [8]:
useful_methods.ShowMostCommon(list(dfTwitterPn['sentiment']))

[('neutral', 3709), ('positive', 2844), ('negative', 1073)]

In [9]:
useful_methods.DFtoCSV(dfTwitterPn, "/Users/Bya/Dropbox/Research/datas/TweetsPN/", "tweets_pn(SemEval2013Task2)", index=False)

### SemEval 2015: A Train Cleansed

In [ ]:
os.chdir("/Users/Bya/Dropbox/Research/datas/TweetsPN/")

with open("A_cleansed.tsv") as tweet:
    tweets = tweet.readlines()

tweets[0].split('\t')

In [ ]:
" ".join(tweets[0].split('\t')[-1].split()[1:3])

In [ ]:
# Extract Tweet & Labels
labels = []
texts = []
start_tokens = []
end_tokens = []
words = []

for tweet in tweets:
    start_token = tweet.split('\t')[2]
    end_token = tweet.split('\t')[3]
    label = tweet.split('\t')[4]
    text = tweet.split('\t')[5]
    
    if text != 'Not Available\n':
        labels.append(label)
        texts.append(text)
        start_tokens.append(start_token)
        end_tokens.append(end_token)
        
        word = " ".join(text.split()[int(start_token):int(end_token) + 1])
        words.append(word)

# Create Dataframe
dfTwitterPnWords = pd.DataFrame(columns=['tweet', 'word', 'sentiment'])
dfTwitterPnWords['tweet'] = texts
dfTwitterPnWords['word'] = words
dfTwitterPnWords['sentiment'] = labels

dfTwitterPnWords.describe()

In [ ]:
useful_methods.DFtoCSV(dfTwitterPnWords, "/Users/Bya/Dropbox/Research/datas/TweetsPN/", "tweets_words_pn(SemEval2013Task2)", index=False)

### SemEval 2016: B,D: Train 100 topic * xxx tweets

In [10]:
os.chdir("/Users/Bya/Dropbox/Research/datas/TweetsPN/")

with open("BD_train.txt") as tweet:
    tweets = tweet.readlines()

tweets[0].split('\t')

['628949369883000832',
 '@microsoft',
 'negative',
 "dear @Microsoft the newOoffice for Mac is great and all, but no Lync update? C'mon.\n"]

In [11]:
# Extract Tweet & Labels
labels = []
texts = []
topics = []

for tweet in tweets:
    topic = tweet.split('\t')[1]
    label = tweet.split('\t')[2]
    text = tweet.split('\t')[3]
    
    if text != 'Not Available\n' and text not in texts:
        labels.append(label)
        texts.append(text)
        topics.append(topic)

# Create Dataframe
dfTwitterTopicPn = pd.DataFrame(columns=['tweet', 'topic', 'sentiment'])
dfTwitterTopicPn['tweet'] = texts
dfTwitterTopicPn['sentiment'] = labels
dfTwitterTopicPn['topic'] = topics

dfTwitterTopicPn.describe()

,tweet,topic,sentiment
count,3871,3871,3871
unique,3871,60,2
top,London. Spent the afternoon with friends in So...,magic mike xxl,positive
freq,1,87,3204

In [14]:
useful_methods.ShowMostCommon(list(dfTwitterTopicPn['sentiment']))

[('positive', 3204), ('negative', 667)]

In [15]:
useful_methods.DFtoCSV(dfTwitterTopicPn, "/Users/Bya/Dropbox/Research/datas/TweetsPN/", "tweets_topics_pn(SemEval2016)", index=False)

### SemEval 2016: A: Train 100 topic * 100 tweets. 3 points

In [21]:
os.chdir("/Users/Bya/Dropbox/Research/datas/TweetsPN/")

with open("A_3point_train.txt") as tweet:
    tweets = tweet.readlines()

tweets[0].split('\t')

['628949369883000832',
 'negative',
 "dear @Microsoft the newOoffice for Mac is great and all, but no Lync update? C'mon.\n"]

In [23]:
# Extract Tweet & Labels
labels = []
texts = []

for tweet in tweets:
    label = tweet.split('\t')[1]
    text = tweet.split('\t')[2]
    
    if text != 'Not Available\n' and text not in texts:
        labels.append(label)
        texts.append(text)

# Create Dataframe
dfTwitterPnn = pd.DataFrame(columns=['tweet', 'sentiment'])
dfTwitterPnn['tweet'] = texts
dfTwitterPnn['sentiment'] = labels

dfTwitterPnn.describe()

                                                    tweet sentiment
count                                                5344      5344
unique                                               5344         3
top     Misinterpreting Mariah Carey lyrics. Apparentl...  positive
freq                                                    1      2743

In [24]:
useful_methods.ShowMostCommon(list(dfTwitterPnn['sentiment']))

[('positive', 2743), ('neutral', 1840), ('negative', 761)]

In [25]:
useful_methods.DFtoCSV(dfTwitterPnn, "/Users/Bya/Dropbox/Research/datas/TweetsPN/", "tweets_pnn(SemEval2015)", index=False)

### Tweet PN (SemEval 2013 + SemEval 2016)

In [16]:
print("positive: ", len(dfTwitterPn[dfTwitterPn.sentiment == 'positive']))
print("negative: ", len(dfTwitterPn[dfTwitterPn.sentiment == 'negative']))
print("neutral: ", len(dfTwitterPn[dfTwitterPn.sentiment == 'neutral']))

dfTwitterPn.describe()

positive:  2844
negative:  1073
neutral:  3709

                                                    tweet sentiment
count                                                7626      7626
unique                                               7626         3
top     Thanks everybody for the bday wishes!! Gonna h...   neutral
freq                                                    1      3709

In [17]:
print("positive: ", len(dfTwitterTopicPn[dfTwitterTopicPn.sentiment == 'positive']))
print("negative: ", len(dfTwitterTopicPn[dfTwitterTopicPn.sentiment == 'negative']))

dfTwitterTopicPn.describe()

positive:  3204
negative:  667

,tweet,topic,sentiment
count,3871,3871,3871
unique,3871,60,2
top,London. Spent the afternoon with friends in So...,magic mike xxl,positive
freq,1,87,3204

In [27]:
# SemEval 2015: Tweet PN
texts_pn = list(dfTwitterPn.tweet)
labels_pn = list(dfTwitterPn.sentiment)

# SemEval 2016: Tweet PNN
texts_pnn = list(dfTwitterPnn.tweet)
labels_pnn = list(dfTwitterPnn.sentiment)

# Create Dataframe
dfTwitter = pd.DataFrame(columns=['tweet', 'sentiment'])
dfTwitter['tweet'] = texts_pn + texts_pnn
dfTwitter['sentiment'] = labels_pn + labels_pnn

print("positive: ", len(dfTwitter[dfTwitter.sentiment == 'positive']))
print("negative: ", len(dfTwitter[dfTwitter.sentiment == 'negative']))
print("neutral: ", len(dfTwitter[dfTwitter.sentiment == 'neutral']))

dfTwitter.describe()

positive:  5587
negative:  1834
neutral:  5549

                                                    tweet sentiment
count                                               12970     12970
unique                                              12970         3
top     Phinsider Week 8 Picks: Thursday Night Footbal...  positive
freq                                                    1      5587

In [29]:
useful_methods.DFtoCSV(dfTwitter, "/Users/Bya/Dropbox/Research/datas/TweetsPN/", "tweets_pnn", index=False)

### Create Create Pos == Neg Twitter Data

In [67]:
dfNeg = dfTwitter[dfTwitter.sentiment == 'negative'].copy()
neg_len = len(dfNeg)

dfPos = dfTwitter[dfTwitter.sentiment == 'positive'].copy()
dfPos = dfPos.iloc[np.random.permutation(len(dfPos))].reset_index(drop=True)

# Create Dataframe
dfPNEqual = pd.DataFrame(columns=['tweet', 'sentiment'])
dfPNEqual['tweet'] = list(dfNeg.tweet) + list(dfPos.tweet)[0:neg_len]
dfPNEqual['sentiment'] = list(dfNeg.sentiment) + list(dfPos.sentiment)[0:neg_len]

# Shuffle
dfPNEqual = dfPNEqual.iloc[np.random.permutation(len(dfPNEqual))].reset_index(drop=True)
dfPNEqual.describe()

                                                    tweet sentiment
count                                                3668      3668
unique                                               3668         2
top     h. i'm going to make a twitter to use on my ip...  negative
freq                                                    1      1834

In [68]:
useful_methods.ShowMostCommon(list(dfPNEqual['sentiment']))

[('positive', 1834), ('negative', 1834)]

In [70]:
useful_methods.DFtoCSV(dfPNEqual, "/Users/Bya/Dropbox/Research/datas/TweetsPN/", "tweets_pn_eq", index=False)