In [36]:
import sys
import os
import time
import codecs
import pandas as pd

sys.path.append("/Users/Bya/git/predictEPL/utils/")
sys.path.append("/Users/Bya/git/predictEPL/config/")

import paths
import tokenizer
import useful_methods

### SemEval 2015: B Train Cleansed

In [78]:
os.chdir("/Users/Bya/Dropbox/Research/datas/TweetsPN/")

with open("B_cleansed.tsv") as tweet:
    tweets = tweet.readlines()

tweets[0].split('\t')

['264183816548130816',
 '15140428',
 'positive',
 "Gas by my house hit $3.39!!!! I'm going to Chapel Hill on Sat. :)\n"]

In [79]:
# Extract Tweet & Labels
labels = []
texts = []

for tweet in tweets:
    label = tweet.split('\t')[2]
    text = tweet.split('\t')[3]
    
    if text != 'Not Available\n' and text not in texts:
        labels.append(label)
        texts.append(text)

# Create Dataframe
dfTwitterPn = pd.DataFrame(columns=['tweet', 'sentiment'])
dfTwitterPn['tweet'] = texts
dfTwitterPn['sentiment'] = labels

print("positive: ", len(dfTwitterPn[dfTwitterPn.sentiment == 'positive']))
print("negative: ", len(dfTwitterPn[dfTwitterPn.sentiment == 'negative']))
print("neutral: ", len(dfTwitterPn[dfTwitterPn.sentiment == 'neutral']))

dfTwitterPn.describe()

positive:  2844
negative:  1073
neutral:  3709

                                                    tweet sentiment
count                                                7626      7626
unique                                               7626         3
top     watching Kung Fu Panda 2 with the tribe & the ...   neutral
freq                                                    1      3709

In [80]:
useful_methods.DFtoCSV(dfTwitterPn, "/Users/Bya/Dropbox/Research/datas/TweetsPN/", "tweets_pn(SemEval2013Task2)", index=False)

### SemEval 2015: A Train Cleansed

In [48]:
os.chdir("/Users/Bya/Dropbox/Research/datas/TweetsPN/")

with open("A_cleansed.tsv") as tweet:
    tweets = tweet.readlines()

tweets[0].split('\t')

['264183816548130816',
 '15140428',
 '13',
 '13',
 'positive',
 "Gas by my house hit $3.39!!!! I'm going to Chapel Hill on Sat. :)\n"]

In [64]:
" ".join(tweets[0].split('\t')[-1].split()[1:3])

'by my'

In [72]:
# Extract Tweet & Labels
labels = []
texts = []
start_tokens = []
end_tokens = []
words = []

for tweet in tweets:
    start_token = tweet.split('\t')[2]
    end_token = tweet.split('\t')[3]
    label = tweet.split('\t')[4]
    text = tweet.split('\t')[5]
    
    if text != 'Not Available\n':
        labels.append(label)
        texts.append(text)
        start_tokens.append(start_token)
        end_tokens.append(end_token)
        
        word = " ".join(text.split()[int(start_token):int(end_token) + 1])
        words.append(word)

# Create Dataframe
dfTwitterPnWords = pd.DataFrame(columns=['tweet', 'word', 'sentiment'])
dfTwitterPnWords['tweet'] = texts
dfTwitterPnWords['word'] = words
dfTwitterPnWords['sentiment'] = labels

dfTwitterPnWords.describe()

                                                    tweet  word sentiment
count                                                7264  7264      7264
unique                                               4858  4966         3
top     Disappointed the Knicks vs Nets game got cance...    :)  positive
freq                                                    7    95      4555

In [76]:
useful_methods.DFtoCSV(dfTwitterPnWords, "/Users/Bya/Dropbox/Research/datas/TweetsPN/", "tweets_words_pn(SemEval2013Task2)", index=False)

### SemEval 2016: B,D: Train 100 topic * xxx tweets

In [83]:
os.chdir("/Users/Bya/Dropbox/Research/datas/TweetsPN/")

with open("BD_train.txt") as tweet:
    tweets = tweet.readlines()

tweets[0].split('\t')

['628949369883000832',
 '@microsoft',
 'negative',
 "dear @Microsoft the newOoffice for Mac is great and all, but no Lync update? C'mon.\n"]

In [94]:
# Extract Tweet & Labels
labels = []
texts = []
topics = []

for tweet in tweets:
    topic = tweet.split('\t')[1]
    label = tweet.split('\t')[2]
    text = tweet.split('\t')[3]
    
    if text != 'Not Available\n' and text not in texts:
        labels.append(label)
        texts.append(text)
        topics.append(topic)

# Create Dataframe
dfTwitterTopicPn = pd.DataFrame(columns=['tweet', 'topic', 'sentiment'])
dfTwitterTopicPn['tweet'] = texts
dfTwitterTopicPn['sentiment'] = labels
dfTwitterTopicPn['topic'] = topics

dfTwitterTopicPn.describe()

,tweet,topic,sentiment
count,3871,3871,3871
unique,3871,60,2
top,"@SquirrelEvictor CMAT, Mariah Carey is the god...",magic mike xxl,positive
freq,1,87,3204

In [95]:
useful_methods.DFtoCSV(dfTwitterTopicPn, "/Users/Bya/Dropbox/Research/datas/TweetsPN/", "tweets_topics_pn(SemEval2016)", index=False)

### Tweet PN (SemEval 2013 + SemEval 2016)

In [89]:
print("positive: ", len(dfTwitterPn[dfTwitterPn.sentiment == 'positive']))
print("negative: ", len(dfTwitterPn[dfTwitterPn.sentiment == 'negative']))
print("neutral: ", len(dfTwitterPn[dfTwitterPn.sentiment == 'neutral']))

dfTwitterPn.describe()

positive:  2844
negative:  1073
neutral:  3709

                                                    tweet sentiment
count                                                7626      7626
unique                                               7626         3
top     watching Kung Fu Panda 2 with the tribe & the ...   neutral
freq                                                    1      3709

In [96]:
print("positive: ", len(dfTwitterTopicPn[dfTwitterTopicPn.sentiment == 'positive']))
print("negative: ", len(dfTwitterTopicPn[dfTwitterTopicPn.sentiment == 'negative']))

dfTwitterTopicPn.describe()

positive:  3204
negative:  667

,tweet,topic,sentiment
count,3871,3871,3871
unique,3871,60,2
top,"@SquirrelEvictor CMAT, Mariah Carey is the god...",magic mike xxl,positive
freq,1,87,3204

In [110]:
texts_pn = list(dfTwitterPn.tweet)
labels_pn = list(dfTwitterPn.sentiment)

texts_topic_pn = list(dfTwitterTopicPn.tweet)
labels_topic_pn = list(dfTwitterTopicPn.sentiment)

# Create Dataframe
dfTwitter = pd.DataFrame(columns=['tweet', 'sentiment'])
dfTwitter['tweet'] = texts_pn + texts_topic_pn
dfTwitter['sentiment'] = labels_pn + labels_topic_pn

print("positive: ", len(dfTwitter[dfTwitter.sentiment == 'positive']))
print("negative: ", len(dfTwitter[dfTwitter.sentiment == 'negative']))
print("neutral: ", len(dfTwitter[dfTwitter.sentiment == 'neutral']))

dfTwitter.describe()

positive:  6048
negative:  1740
neutral:  3709

                                                    tweet sentiment
count                                               11497     11497
unique                                              11497         3
top     same stage as Jay-Z but y'all don't wanna give...  positive
freq                                                    1      6048

In [112]:
useful_methods.DFtoCSV(dfTwitter, "/Users/Bya/Dropbox/Research/datas/TweetsPN/", "tweets_pn", index=False)