In [1]:
import os
import sys
import pickle
from time import time
import pandas as pd

# Local Imports
path = str(os.path.expanduser('~')) + '/git/predictEPL/config'
sys.path.append(path)
import paths

sys.path.append(paths.UTILS)
import emolex
import useful_methods

In [2]:
# *******************************************************
# *******************************************************

# Game Infos
os.chdir(paths.READ_PATH_GAME_INFO)
dfGameInfos = useful_methods.csv_dic_df('game_infos.csv')

# Convert number strings to integers
dfGameInfos['GW'] = [int(GW) for GW in dfGameInfos['GW']]
dfGameInfos['score_ht_home'] = [int(number) for number in dfGameInfos['score_ht_home']]
dfGameInfos['score_ht_away'] = [int(number) for number in dfGameInfos['score_ht_away']]
dfGameInfos['score_ft_home'] = [int(number) for number in dfGameInfos['score_ft_home']]
dfGameInfos['score_ft_away'] = [int(number) for number in dfGameInfos['score_ft_away']]

# 'win': 1, 'lose': 0, 'draw': 2
def Labeling(goal_diff):
    if goal_diff > 0:
        return 3
    elif goal_diff < 0:
        return 0
    else:
        return 1
dfGameInfos['goal_diff_home'] = dfGameInfos.score_ft_home - dfGameInfos.score_ft_away
dfGameInfos['goal_diff_away'] = dfGameInfos.score_ft_away - dfGameInfos.score_ft_home
dfGameInfos['result_home'] = [Labeling(goal_diff) for goal_diff in dfGameInfos.goal_diff_home]
dfGameInfos['result_away'] = [Labeling(goal_diff) for goal_diff in dfGameInfos.goal_diff_away]

In [3]:
gws = list(set(dfGameInfos.GW))
teams = list(set(dfGameInfos.home_team))
teams.sort()

dfTeamWLD = pd.DataFrame()
dfTeamWLD['team'] = teams

for gw in gws:
    
    df = dfGameInfos[dfGameInfos.GW == gw].copy().reset_index(drop=True)
    dic_res = {}

    for i in range(10):
        home_team = df.loc[i]['home_team']
        away_team = df.loc[i]['away_team']
        result_home = df.loc[i]['result_home']
        result_away = df.loc[i]['result_away']

        dic_res[home_team] = result_home
        dic_res[away_team] = result_away

    team_wlds = sorted(dic_res.items())
    wlds = [team_wld[1] for team_wld in team_wlds]

    dfTeamWLD[gw] = wlds

dfTeamWLD

,team,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,Arsenal,0,3,1,3,3,0,3,3,3,...,3,3,0,3,3,1,1,0,1,3
1,Bournemouth,0,0,3,1,0,3,0,1,0,...,3,3,1,0,1,0,3,1,3,0
2,Chelsea,1,0,3,0,0,3,1,0,3,...,0,3,1,1,3,1,1,3,1,1
3,City,3,3,3,3,3,0,0,3,3,...,3,0,3,1,3,1,3,1,3,0
4,Crystal,3,0,3,3,0,0,3,3,0,...,3,3,1,1,0,0,0,0,0,1
5,Everton,1,3,0,1,3,1,3,1,0,...,1,0,3,0,1,1,1,0,3,3
6,Leicester,3,3,1,1,3,1,0,3,1,...,3,3,0,1,1,3,1,3,3,3
7,Liverpool,3,3,1,0,0,1,3,1,1,...,1,0,3,3,0,1,0,3,0,1
8,Newcastle,1,0,1,0,0,0,1,0,3,...,3,1,0,0,0,1,3,0,0,3
9,Norwich,0,3,1,0,3,1,1,0,0,...,1,3,0,3,3,0,0,0,0,0
10,Southampton,1,0,1,3,1,0,3,3,1,...,0,0,3,0,0,3,3,3,1,3
11,Stoke,0,1,1,0,0,1,3,3,3,...,1,0,3,3,0,3,1,0,0,0
12,Sunderland,0,0,1,1,0,0,0,1,0,...,0,0,0,0,3,3,0,1,0,1
13,Swansea,1,3,1,3,0,1,0,1,0,...,0,1,3,1,0,0,3,3,1,1
14,Tottenham,0,1,1,1,3,3,3,1,1,...,0,3,3,3,1,0,3,3,3,3
15,United,3,3,1,0,3,3,3,0,3,...,0,0,0,1,3,1,3,0,3,1
16,Villa,3,0,0,1,0,0,0,0,0,...,0,1,1,0,0,3,1,1,0,3
17,Watford,1,1,1,0,3,3,0,1,0,...,3,3,1,0,0,0,0,3,1,0
18,WestBromwich,0,1,0,3,1,3,0,0,3,...,1,0,0,3,3,1,0,1,1,0
19,WestHam,3,0,0,3,3,3,1,1,3,...,1,1,1,3,3,3,0,1,3,0

In [4]:
# Save as CSV
useful_methods.DFtoCSV(dfTeamWLD, paths.DATA_HOME + "EPL/", 'info_team_wld', index=False)
print("[Saved in]: %s" % (paths.DATA_HOME + "EPL/" + 'info_team_wld.csv'))

[Saved in]: /Users/Bya/Dropbox/Research/datas/EPL/info_team_wld.csv

In [5]:
dfBe4GameSum = pd.DataFrame(columns=dfTeamWLD.columns)
dfBe4GameSum['team'] = dfTeamWLD['team']

for gw in gws:
    try:
        dfBe4GameSum[gw] = dfTeamWLD[gw-4] + dfTeamWLD[gw-3] + dfTeamWLD[gw-2] + dfTeamWLD[gw-1]
    except:
        continue

dfBe4GameSum = dfBe4GameSum.fillna(0).copy()
dfBe4GameSum

,team,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,Arsenal,0,0,0,0,7,10,7,9,9,...,7,5,5,7,10,9,9,9,7,8
1,Bournemouth,0,0,0,0,4,4,7,4,4,...,1,2,5,8,10,10,7,5,2,4
2,Chelsea,0,0,0,0,4,3,6,4,4,...,3,4,4,4,4,4,5,8,6,6
3,City,0,0,0,0,12,12,9,6,6,...,5,7,4,6,6,6,7,7,8,8
4,Crystal,0,0,0,0,9,6,6,6,6,...,4,7,7,7,10,8,8,5,2,1
5,Everton,0,0,0,0,5,7,5,8,8,...,7,8,6,6,3,5,4,4,5,3
6,Leicester,0,0,0,0,8,8,6,5,7,...,12,10,10,10,10,9,7,5,5,6
7,Liverpool,0,0,0,0,7,4,2,4,5,...,7,9,6,7,4,4,7,6,7,4
8,Newcastle,0,0,0,0,2,1,1,1,1,...,4,4,6,6,7,7,4,1,1,4
9,Norwich,0,0,0,0,4,7,5,5,5,...,3,4,4,2,5,4,7,9,6,6
10,Southampton,0,0,0,0,5,5,5,7,7,...,7,6,4,1,1,4,3,3,6,6
11,Stoke,0,0,0,0,2,2,2,4,7,...,7,7,9,7,4,7,7,6,9,7
12,Sunderland,0,0,0,0,2,2,2,1,1,...,6,6,6,6,3,0,0,3,6,6
13,Swansea,0,0,0,0,8,7,5,4,2,...,4,1,1,1,1,4,5,5,4,4
14,Tottenham,0,0,0,0,3,6,8,10,10,...,10,8,6,5,5,7,9,10,7,7
15,United,0,0,0,0,7,7,7,9,9,...,8,8,8,5,2,1,1,4,5,8
16,Villa,0,0,0,0,4,1,1,1,0,...,1,1,2,1,2,3,2,2,4,4
17,Watford,0,0,0,0,3,5,7,6,7,...,6,6,6,9,12,10,7,4,1,0
18,WestBromwich,0,0,0,0,4,5,7,7,4,...,6,4,5,6,3,2,4,6,7,7
19,WestHam,0,0,0,0,6,6,9,10,8,...,4,2,3,3,4,4,6,8,10,9

In [6]:
# Save as CSV
useful_methods.DFtoCSV(dfBe4GameSum, paths.DATA_HOME + "EPL/", 'info_before_4game_sum', index=False)
print("[Saved in]: %s" % (paths.DATA_HOME + "EPL/" + 'info_before_4game_sum.csv'))

[Saved in]: /Users/Bya/Dropbox/Research/datas/EPL/info_before_4game_sum.csv

In [9]:
df = useful_methods.csv_dic_df(paths.DATA_HOME + "EPL/all_game_hash_review_pn_score.csv")
dfBe4GameSum = useful_methods.csv_dic_df(paths.DATA_HOME + "EPL/info_before_4game_sum.csv")

team_homes = list(df.home_team)
team_aways = list(df.away_team)
GWs = [int(gw) for gw in df.GW]

be_4game_sum_home = []
be_4game_sum_away = []

for index in range(len(GWs)):
    team_home = team_homes[index]
    team_away = team_aways[index]
    gw = GWs[index]

    be_4game_sum_home.append(int(dfBe4GameSum[dfBe4GameSum.team == team_home][str(gw)]))
    be_4game_sum_away.append(int(dfBe4GameSum[dfBe4GameSum.team == team_away][str(gw)]))

df['be_4game_sum_home'] = be_4game_sum_home
df['be_4game_sum_away'] = be_4game_sum_away
df

,GW,away_team,date,home_team,pn_away_neg,pn_away_pos,pn_home_neg,pn_home_pos,score_ft_away,score_ft_home,score_ht_away,score_ht_home,time,be_4game_sum_home,be_4game_sum_away
0,1,Tottenham,Sat. 8 Aug.,United,-1.0,-1.0,-1.0,-1.0,0,1,0,1,11:45,0,0
1,1,Watford,Sat. 8 Aug.,Everton,-1.0,-1.0,-1.0,-1.0,2,2,1,0,14:00,0,0
2,1,Sunderland,Sat. 8 Aug.,Leicester,-1.0,-1.0,-1.0,-1.0,2,4,0,3,14:00,0,0
3,1,Crystal,Sat. 8 Aug.,Norwich,-1.0,-1.0,-1.0,-1.0,3,1,1,0,14:00,0,0
4,1,Villa,Sat. 8 Aug.,Bournemouth,-1.0,-1.0,-1.0,-1.0,1,0,0,0,14:00,0,0
5,1,Swansea,Sat. 8 Aug.,Chelsea,-1.0,-1.0,-1.0,-1.0,2,2,1,2,16:30,0,0
6,1,WestHam,Sun. 9 Aug.,Arsenal,-1.0,-1.0,-1.0,-1.0,2,0,1,0,12:30,0,0
7,1,Southampton,Sun. 9 Aug.,Newcastle,-1.0,-1.0,-1.0,-1.0,2,2,1,1,12:30,0,0
8,1,Liverpool,Sun. 9 Aug.,Stoke,-1.0,-1.0,-1.0,-1.0,1,0,0,0,15:00,0,0
9,1,City,Mon. 10 Aug.,WestBromwich,-1.0,-1.0,-1.0,-1.0,3,0,2,0,19:00,0,0
10,2,United,Fri. 14 Aug.,Villa,-1.0,-1.0,-1.0,-1.0,1,0,1,0,18:45,0,0
11,2,Everton,Sat. 15 Aug.,Southampton,-1.0,-1.0,-1.0,-1.0,3,0,2,0,11:45,0,0
12,2,Stoke,Sat. 15 Aug.,Tottenham,-1.0,-1.0,-1.0,-1.0,2,2,0,2,14:00,0,0
13,2,Leicester,Sat. 15 Aug.,WestHam,-1.0,-1.0,-1.0,-1.0,2,1,2,0,14:00,0,0
14,2,WestBromwich,Sat. 15 Aug.,Watford,-1.0,-1.0,-1.0,-1.0,0,0,0,0,14:00,0,0
15,2,Norwich,Sat. 15 Aug.,Sunderland,-1.0,-1.0,-1.0,-1.0,3,1,2,0,14:00,0,0
16,2,Newcastle,Sat. 15 Aug.,Swansea,-1.0,-1.0,-1.0,-1.0,0,2,0,1,14:00,0,0
17,2,Arsenal,Sun. 16 Aug.,Crystal,-1.0,-1.0,-1.0,-1.0,2,1,1,1,12:30,0,0
18,2,Chelsea,Sun. 16 Aug.,City,-1.0,-1.0,-1.0,-1.0,0,3,0,1,15:00,0,0
19,2,Bournemouth,Mon. 17 Aug.,Liverpool,-1.0,-1.0,-1.0,-1.0,0,1,0,1,19:00,0,0
20,3,Newcastle,Sat. 22 Aug.,United,-1.0,-1.0,-1.0,-1.0,0,0,0,0,11:45,0,0
21,3,Villa,Sat. 22 Aug.,Crystal,-1.0,-1.0,-1.0,-1.0,1,2,0,0,14:00,0,0
22,3,Bournemouth,Sat. 22 Aug.,WestHam,-1.0,-1.0,-1.0,-1.0,4,3,2,0,14:00,0,0
23,3,Swansea,Sat. 22 Aug.,Sunderland,-1.0,-1.0,-1.0,-1.0,1,1,1,0,14:00,0,0
24,3,Stoke,Sat. 22 Aug.,Norwich,-1.0,-1.0,-1.0,-1.0,1,1,1,1,14:00,0,0
25,3,Tottenham,Sat. 22 Aug.,Leicester,-1.0,-1.0,-1.0,-1.0,1,1,0,0,14:00,0,0
26,3,Chelsea,Sun. 23 Aug.,WestBromwich,-1.0,-1.0,-1.0,-1.0,3,2,3,1,12:30,0,0
27,3,Southampton,Sun. 23 Aug.,Watford,-1.0,-1.0,-1.0,-1.0,0,0,0,0,15:00,0,0
28,3,City,Sun. 23 Aug.,Everton,-1.0,-1.0,-1.0,-1.0,2,0,0,0,15:00,0,0
29,3,Liverpool,Mon. 24 Aug.,Arsenal,-1.0,-1.0,-1.0,-1.0,0,0,0,0,19:00,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,20,Liverpool,Sat. 2 Jan.,WestHam,4189.941522693969,2498.058477306031,435.98994563493034,338.01005436506966,0,2,0,1,12:45,6,7
191,20,Newcastle,Sat. 2 Jan.,Arsenal,671.1676478912273,506.83235210877274,1673.5587392056163,1129.4412607943837,0,1,0,0,15:00,9,4
192,20,Stoke,Sat. 2 Jan.,WestBromwich,64.09627711901145,42.90372288098856,119.21816827225635,75.78183172774368,1,2,0,0,15:00,4,7
193,20,Villa,Sat. 2 Jan.,Sunderland,755.2687264183834,537.7312735816166,242.18094824789392,192.81905175210608,1,3,0,1,15:00,0,2
194,20,Southampton,Sat. 2 Jan.,Norwich,181.43677926047917,122.56322073952083,260.5665340958211,165.43346590417892,0,1,0,0,15:00,7,3
195,20,Swansea,Sat. 2 Jan.,United,112.5247757205793,60.475224279420694,4682.6748598966215,2792.3251401033785,1,2,0,0,15:00,1,5
196,20,Bournemouth,Sat. 2 Jan.,Leicester,118.25318430374729,95.74681569625272,184.9739953411815,145.02600465881847,0,0,0,0,15:00,7,7
197,20,City,Sat. 2 Jan.,Watford,713.6574871652542,459.3425128347458,133.85412565297054,126.14587434702945,2,1,0,0,17:30,7,7
198,20,Chelsea,Sun. 3 Jan.,Crystal,2242.5682657532407,1517.4317342467596,374.9360532400175,263.0639467599825,3,0,1,0,13:30,8,5
199,20,Tottenham,Sun. 3 Jan.,Everton,2191.793233289333,2269.2067667106676,1081.4870974261662,936.5129025738336,1,1,1,1,16:00,4,9
200,21,Crystal,Tue. 12 Jan.,Villa,214.9629955964488,133.0370044035512,387.3393096262248,275.66069037377514,0,1,0,0,19:45,2,5
201,21,United,Tue. 12 Jan.,Newcastle,6284.157542295986,6040.842457704015,1628.3472729545624,1369.6527270454376,3,3,2,1,19:45,1,4
202,21,WestHam,Tue. 12 Jan.,Bournemouth,290.0441245652404,154.95587543475963,133.76209244277885,131.23790755722118,3,1,0,1,19:45,5,8
203,21,Norwich,Wed. 13 Jan.,Stoke,409.52640956563624,241.47359043436376,88.7485799481979,72.2514200518021,1,3,0,0,19:45,6,9
204,21,Watford,Wed. 13 Jan.,Southampton,196.64461762335492,117.35538237664511,246.18080537537685,191.81919462462315,0,2,0,1,19:45,3,4
205,21,Everton,Wed. 13 Jan.,City,181.09650811852686,185.90349188147314,363.1170138535237,258.8829861464763,0,0,0,0,19:45,7,4
206,21,WestBromwich,Wed. 13 Jan.,Chelsea,238.84940184152532,180.15059815847468,1093.7186516092258,717.2813483907739,2,2,1,1,19:45,8,6
207,21,Sunderland,Wed. 13 Jan.,Swansea,514.2715357906957,358.7284642093043,201.0592639469052,103.94073605309481,4,2,1,2,19:45,5,3
208,21,Leicester,Wed. 13 Jan.,Tottenham,181.97036388023076,127.02963611976921,484.81050021999994,390.18949978000006,1,0,0,0,20:00,10,5
209,21,Arsenal,Wed. 13 Jan.,Liverpool,2712.9595118085567,1996.0404881914433,5677.219636875589,4683.7803631244105,3,3,2,2,20:00,6,9
210,22,Sunderland,Sat. 16 Jan.,Tottenham,442.8844239813638,410.1155760186362,884.737324681759,693.262675318241,1,4,1,1,12:45,7,6
211,22,WestHam,Sat. 16 Jan.,Newcastle,271.45534321425095,179.54465678574905,1405.1321576910125,1244.8678423089875,1,2,0,2,15:00,1,10
212,22,Norwich,Sat. 16 Jan.,Bournemouth,363.4340099900255,235.56599000997454,126.6737290356345,119.3262709643655,0,3,0,1,15:00,2,6
213,22,Everton,Sat. 16 Jan.,Chelsea,162.2117182212014,138.7882817787986,1568.0520911788517,765.9479088211484,3,3,0,0,15:00,6,5
214,22,WestBromwich,Sat. 16 Jan.,Southampton,197.17068614226696,125.82931385773307,412.9897167102488,360.0102832897512,0,3,0,2,15:00,6,7
215,22,Crystal,Sat. 16 Jan.,City,369.5420783726634,242.4579216273366,553.3919578514194,538.6080421485806,0,4,0,2,15:00,8,2
216,22,Leicester,Sat. 16 Jan.,Villa,445.07253879662824,352.92746120337176,685.9180718449886,465.08192815501144,1,1,1,0,17:30,4,5
217,22,United,Sun. 17 Jan.,Liverpool,5801.13445411458,3611.8655458854196,2908.3508089098477,2250.6491910901523,1,0,0,0,14:05,7,5
218,22,Arsenal,Sun. 17 Jan.,Stoke,1439.6251275860773,1097.3748724139227,309.7001868942541,264.2998131057459,0,0,0,0,16:15,9,7
219,22,Watford,Mon. 18 Jan.,Swansea,364.0380607997424,232.96193920025758,167.22201325235392,129.77798674764608,0,1,0,1,20:00,4,1

In [10]:
team_homes = list(dfGameInfos.home_team)
team_aways = list(dfGameInfos.away_team)
GWs = list(dfGameInfos.GW)

be_4game_sum_home = []
be_4game_sum_away = []

for index in range(len(GWs)):
    team_home = team_homes[index]
    team_away = team_aways[index]
    gw = GWs[index]

    be_4game_sum_home.append(int(dfBe4GameSum[dfBe4GameSum.team == team_home][gw]))
    be_4game_sum_away.append(int(dfBe4GameSum[dfBe4GameSum.team == team_away][gw]))

dfGameInfos['be_4game_sum_home'] = be_4game_sum_home
dfGameInfos['be_4game_sum_away'] = be_4game_sum_away
dfGameInfos

KeyError: 1